body {
	margin: 10;
	background-color: #ffffff;
}

#field table {
	width: auto;
}

#field table td[row="0"]:hover {
	cursor: pointer;
	background-color: #808080;
}

td.field-cell {
	width: 10px;
	height: 10px;
	padding: 0;
	margin: 0;
	border: 1px solid #b1b1b1;
}

td.black {
	background-color: #000000;
}

table.rule-table {
	cursor: pointer;
}

table.rule-table:hover .result {
	background-color: #808080;
}
